.episodes {
  h1 {
    color: black;
    font-size: 1.75em;
    font-family: "SackersGothicW01-Medium",helvetica,arial,sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
}
