.header {
  background-color: $cream;
  color: $grey;
  font-size: 1.75em;
  padding: 1em 3em;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  img {
    width: 6em;
    float: right;
  }
  a {
    color: $grey;
  }
}
